<h2 class="page-header">New Book</h2>
<form action="/books" method="POST">
    <%- include('_form_fields') %>

    <!-- Create / Cancel Buttons -->
    <div class="form-row form-row-end btn-row">
        <a class="btn btn-danger"href="/books">CANCEL</a>
        <button class="btn btn-primary" type="submit">CREATE</button>
    </div> <!-- //create/cancel buttons  -->
</form>